name: CI

on:
  pull_request:
    paths-ignore:
      - ".github/workflows/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 18
      - name: Setup workspace
        run: cp .github/scripts/ci.package.json package.json
      # Do this before yarn to avoid node_modules directory
      - name: Update tsconfigs for workspace
        run: ./.github/scripts/copy-ts-config.sh
      - name: Set up Yarn node_modules linker
        run: |
          NODE_LINKER="nodeLinker: node-modules"
          echo "$NODE_LINKER" > .yarnrc.yml
      - name: Enable and activate Corepack (necessary for Yarn v2 and later).
        run: corepack enable && corepack prepare yarn@stable --activate      
      - name: Install dependencies 
        run: yarn
        env:
            YARN_ENABLE_IMMUTABLE_INSTALLS: false # required according to https://github.com/yarnpkg/berry/issues/2948
      - name: Codegen
        run: yarn codegen
      - name: Build
        run: yarn build